<div class="d-flex gap-4 mx-auto mt-4 flex-column justify-content-center w-75">
  <app-form-create-transaction
    (registerNewTransaction)="createNewTransaction($event)"
  ></app-form-create-transaction>

  <div class="table-responsive">
    <table class="table table-hover table-secondary">
      <thead>
        <tr>
          <th>Data</th>
          <th>Categoria</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Valor R$</th>
          <th>opções</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let transaction of transactions"
          [ngClass]="
            transaction.type == 'Saída' ? 'table-danger' : 'table-success'
          "
        >
          <td class="align-top">
            {{ transaction.date | date : "dd/MM/yyyy" }}
          </td>
          <td class="align-top">
            {{ transaction.category?.name }}
          </td>
          <td class="align-top">
            {{ transaction.type }}
          </td>
          <td class="align-top">
            <div class="description">
              {{ transaction.description ? transaction.description : "- -" }}
            </div>
          </td>
          <td class="align-top">
            {{ transaction.value | currency : "BRL" : "symbol" : "1.2-2" }}
          </td>
          <td class="align-top d-flex gap-2">
            <tr class="d-flex gap-2">
              <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="editTransaction(transaction)"
              >
                editar
              </button>
              |
              <button class="btn btn-sm btn-outline-danger">excluir</button>
            </tr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal-edit-transaction [transactionEdit]="transactionEdit">
</app-modal-edit-transaction>
