<div class="d-flex gap-4 mx-auto mt-4 flex-column justify-content-center w-75">
  <app-form-create-transaction
    (registerNewTransaction)="createNewTransaction($event)"
    (searchTransaction)="searchTransaction($event)"
  ></app-form-create-transaction>

  <!------------ Tabela --------------->
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th>Categoria</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Valor R$</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let transaction of transactions"
          [ngClass]="transaction.type == 'Saída' ? 'expense' : 'revenue'"
        >
          <td class="align-top">
            {{ transaction.date | date : "dd/MM/yyyy" }}
          </td>
          <td class="align-top">
            <span class="d-flex gap-2">
              <i
                class="material-icons fs-4 my-auto rounded"
                [style]="{ background: transaction.category?.color }"
                >{{ transaction.category?.icon }}</i
              >
              {{ transaction.category?.name }}
            </span>
          </td>
          <td class="align-top">
            {{ transaction.type }}
          </td>
          <td class="align-top">
            <div class="description">
              {{ transaction.description ? transaction.description : "- -" }}
            </div>
          </td>
          <td class="align-top">
            {{ transaction.value | formatCurrencyBRL }}
          </td>
          <td class="align-top d-flex gap-2">
            <tr class="d-flex gap-2">
              <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalEditTransaction"
                (click)="setTransactionEdit(transaction)"
              >
                editar
              </button>
              |
              <button
                data-bs-toggle="modal"
                data-bs-target="#confirm-modal"
                class="btn btn-sm btn-outline-danger"
                (click)="setTransactionEdit(transaction)"
              >
                excluir
              </button>
            </tr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal-edit-transaction [transactionForEditing]="transactionForEditing">
  <app-form-edit-transaction
    [transactionForEditing]="transactionForEditing"
    (update)="updateTransaction($event)"
  ></app-form-edit-transaction>
</app-modal-edit-transaction>

<app-modal-app-confirm
  (confirm)="deleteTransaction()"
  [modalTitle]="'Atenção'"
  [modalMessage]="'Deseja prosseguir com a exclução?'"
>
</app-modal-app-confirm>

<app-toast [message]="toast.message" [type]="toast.type"></app-toast>
