.red-50{
    color: #ff000090;
}

.green-50{
    background-color: #009e47bb;
}

.description{
    display: inline-block;
    max-width:  15ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ;
}
