td{
    background: transparent;
}
.expense{
    background-color: #f8272793;
    font-weight: 600;
}

.revenue{
    background-color: #27f88584;
    font-weight: 600;
}

.description{
    display: inline-block;
    max-width:  15ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ;
}

