<div
  class="parent container d-flex justify-content-center align-items-center h-100 vh-100"
>
  <div class="container row">
    <div class="col-6 d-none d-sm-block">
      <picture>
        <img
          class="img-thumbnail"
          src="assets/Img_Login.webp"
          alt=""
          srcset=""
        />
      </picture>
    </div>

    <div class="col-md-6 col-sm-12">
      <section class="row h-100 justify-content-center align-items-center">
        <div class="col-10 d-flex flex-column row-gap-3">
          <form class="d-flex flex-column row-gap-3" action="">
            <div>
              <label for="validationCustom01" class="form-label">Usuário</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom01"
                placeholder="nome de usuário"
                value=""
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div>
              <label for="validationCustom01" class="form-label">Senha</label>
              <input
                type="password"
                class="form-control"
                id="validationCustom01"
                placeholder="senha"
                value=""
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
          </form>
          <div class="d-flex flex-column row-gap-3 align-items-center">
            <button class="w-50 btn btn-primary" type="button">Entrar</button>
            <a href="create-account">Criar conta</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
