<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    id="liveToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div
      class="toast-header gap-2"
      [ngClass]="
        type === 'success' ? 'bg-success text-white' : 'bg-danger text-dark'
      "
    >
      <div
        class="rounded me-2"
        *ngIf="type === 'success'; then image_success; else image_error"
      ></div>
      <ng-template #image_error>
        <svg
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          height="1.2em"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
          />
        </svg>
      </ng-template>
      <ng-template #image_success
        ><svg
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          height="1.2em"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"
          />
        </svg>
      </ng-template>
      <strong class="me-auto">
        {{ type === "success" ? "Sucesso!" : "Falha!" }}
      </strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body fs-6">
      {{ message }}
    </div>
  </div>
</div>
